body
{
    width: auto;
    margin: 30px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
#header
{
    width: auto;
    margin: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 30px;
    color: rgb(139, 17, 17);
    font-family: Arial, Helvetica, sans-serif;
}
.imagen
{
    width: 100px;
}

#lista
{
    width: auto;
    font-size: 25px;
    padding: 50px;
    margin: 50px;
    background-color: rgb(255, 255, 255);
    text-align: left;
    display: inline-flex;
}
li
{
    display: inline-flex;
}
.titulo
{
    display: inline-flex;
    color:rgb(93, 4, 4);
    font-size: 30px;
}