* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%
}
body {
    font-family: 'Times New Roman', Times, serif;
}
.box {
    padding-left: 20%;
    font-size: 1.6rem;
}
.title {
    border-radius: 0.5rem;
    background-color: rgb(118, 129, 230);
    font-size: 2.5rem;
    margin: auto;
    padding: 2rem;
    text-align: center;
    width: 15rem;
    position: relative;
    top: 3rem;
    border: 0.2rem black solid;
}
.parent {
    font-size: 1.6rem;
    background-color: gainsboro;
    margin: auto;
    border-radius: 5rem;
    margin: auto;
    min-width: 0rem;
    max-width: 60rem;
    min-height: 30rem;
    padding: 5rem 5rem;
    border: 0.2rem black solid;
    position: static;
}
img {
    width: 100%;
    height: 100%;
}
.box-hi p {
    display: inline-block;
}
.box-hi__atrib {
    position: relative;
    width: 8rem;
    font-weight: bold;
    color: red;
}
.box-hi__res {
    position: relative;
}
