* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%
}
body {
    font-family: 'Times New Roman', Times, serif;
}
.box {
    padding: 2rem;
    padding-left: 10rem;
    text-align: justify;
    font-size: 2.0rem;
}
.title {
    border-radius: 0.5rem;
    background-color: rgb(118, 129, 230);
    font-size: 2.5rem;
    margin: auto;
    padding: 2rem;
    text-align: center;
    width: 15rem;
    position: relative;
    top: 3rem;
    border: 0.2rem black solid;
}
img {
    width: 100%;
    height: 100%;
}
.parent {
    font-size: 1.6rem;
    background-color: gainsboro;
    margin: auto;
    border-radius: 5rem;
    margin: auto;
    min-width: 50rem;
    max-width: 60rem;
    min-height: 50rem;
    padding: 7.5rem 5rem;
    border: 0.2rem black solid;
}